
.accessories-section{
    padding: 100px 30px;
    background: #e0e0e0;
    position: relative;
    @media(max-width:1440px){
        padding: 50px 30px;
    }
    .heading{
        font-size: 100px;
        font-family: "akiri";
        color: black;
        margin-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 2;
        @media(max-width:1440px){
            font-size: 70px;
            margin-bottom: 50px;
        }
        &::before{
            position: absolute;
            content: 'Free';
            z-index: 1;
            opacity: 0.8;
            font-family: "free";
            pointer-events: none;
            color: $primary;
            font-size: 250px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-15deg);
            text-shadow: 0 0 5px black;
            @media(max-width:1440px){
                font-size: 180px;
            }  
        }
    }
    .inner{
        // height: 100%;
        // max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .accessories{
            display: flex;
            width: 100%;
            grid-gap: 40px;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 50px;
            @media(max-width:1440px){
                max-width: 1200px;
            }
            @media(max-width:1280px){
                grid-gap: 20px;
            }
            @media(max-width:991px){
                grid-gap: 15px;
            }
            @media(max-width:767px){
                scale: 1.15;
            }
            .accessory{
                color: black;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                grid-gap: 10px ;
                width: 33.3%;
                padding: 30px;
                border-radius: 30px;
                transition: 300ms ease-in;
                overflow: hidden;
                position: relative;
                background: #e0e0e0;
                box-shadow:  20px 20px 60px #d0d0d0,
                -20px -20px 60px #f0f0f0;
                @media(max-width:767px){
                    margin: 80px 20px;
                    box-shadow:  20px 20px 60px #d0d0d0,
             -20px -20px 60px #f0f0f0 !important;
                }
                &.slick-active{
                    box-shadow:  20px 20px 60px #9d9d9d,
             -20px -20px 60px #ffffff !important;
                }
                .name{
                    position: absolute;
                    background-color: $primary;
                    font-family: "akiri";
                    width: 100%;
                    transition: 300ms ease-in;
                    font-size: 24px;
                    white-space: nowrap;
                    opacity: 0;
                    text-align: center;
                    @media(max-width:1440px){
                        font-size: 18px;
                    }
                    @media(max-width:991px){
                        font-size: 15px;
                    }                   
                }
                .image{
                    position: relative;
                    overflow: visible;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    img{
                        height: 300px;
                        object-fit: cover;
                        @media(max-width:1440px){
                            height: 250px;
                        }
                        @media(max-width:991px){
                            height: 180px;
                        }
                        @media(max-width:991px){
                            font-size: 15px;
                        }
                    }
                    .shadow{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 10px;
                        border-radius: 50%;
                        width: 70%;
                        background-color: rgba(0, 0, 0, 0.5);
                        filter: blur(15px);
                    }
                }
                .details{
                    display: flex;
                    transition: 400ms ease-in;
                    align-items: center;
                    flex-direction: column;
                    scale: 0.95;
                    opacity: 0;
                    .price{
                        font-size: 80px;
                        font-family: "akiri";
                        position: relative;
                        line-height: 0.9;
                        color: rgba(0, 0, 0, 0.4);

                        @media(max-width:1440px){
                            font-size: 64px;
                        }
                        @media(max-width:1280px){
                            font-size: 56px;
                        }
                        @media(max-width:991px){
                            font-size: 48px;
                        }
                        @media(max-width:767px){
                            font-size: 56px;
                        }
                        &::before{
                            position: absolute;
                            top: 50%;
                            line-height: 1.2;
                            transform: translateY(-50%);
                            content: "Actual Price";
                            font-family: "akiri";
                            background-color: #f2191979;
                            width: 100%;
                            font-weight: 800;
                            text-align: center;
                            color: black;
                            font-size: 12px;
                        }
                        &.free{
                            font-size: 100px;
                            color: rgba(0, 0, 0, 1);
                            @media(max-width:1440px){
                                font-size: 80px;
                            }
                            @media(max-width:1280px){
                                font-size: 70px;
                            }
                            @media(max-width:991px){
                                font-size: 60px;
                            }
                            @media(max-width:767px){
                                font-size: 70px;
                            }
                            &::before{
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                content: "with each t-shirt";
                                font-family: "akiri";
                                background-color: #d5f2198f;
                                width: 100%;
                                font-weight: 800;
                                text-align: center;
                                color: black;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .display-name{
                    opacity: 1;
                    transition: 300ms ease;
                    position: absolute;
                    bottom: 0;
                    height: 30%;
                    z-index: 10;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 60px);
                    text-align: center;
                    font-size: 26px;
                    // text-transform: lowercase;
                    font-family: $mont;
                    font-style: italic;
                    font-weight: 600;
                }
                &:hover, &.hover{
                    transition: scale 50ms ease-in;
                    transition: 300ms ease-in;
                    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
                    &:nth-child(2){
                        .image{
                            img{
                                @media(max-width:991px){
                                    animation-delay: 600ms;
                                }
                            }
                        }
                    }
                    .name{
                        opacity: 1;
                    }
                    .image{
                        img{
                            animation-name: floating;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in-out;
                        }
                        .shadow{
                            animation-name: floatingShadow;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in-out;
                        }
                    }
                    .details{
                        transition: 400ms ease-in;
                        opacity: 1;
                        scale: 1;
                        
                    }
                    .display-name{
                        transition: 300ms ease;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                &:active{
                    transition: scale 50ms ease-in;
                    scale: 0.99;
                    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
                }
                &.defocus{
                    transition: 300ms;
                    filter: blur(5px);
                }
            }
            .slick-dots{
                transform: translateY(-150%);
                li{
                    &.slick-active{
                        button{
                            &::before{
                                transition: 400ms ease-in-out;
                                font-size: 20px;
                                color: $primary;
                            }
                        }
                    }
                    button{
                        &::before{
                            transition: 400ms ease-in-out;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}